{
	"imageRoot": "/var/betty-cropper",
	"adminListen": ":9999",
	"publicListen": ":8888",
	"publicAddress": "http://localhost:8888",
	"ratios": [
		"1x1",
		"2x1",
		"3x4",
		"4x3",
		"16x9"
	],
	"debug": "true"
}