<html>
	<head>
		<title>Image Cropper</title>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
		<script src="js/jquery.Jcrop.min.js"></script>
		<script type="text/javascript">
		  var PREVIEW_HEIGHT = 175;

		  var aspect_ratios = [
		  	{{range .Ratios}}
			[{{.X}},{{.Y}}],
			{{end}}
		  ];
		  // Format is: [Min.X, Min.Y, ax.X, Max.Y]
		  var selections = [
		  	{{range .Selections}}
			[{{.Min.X}},{{.Min.Y}},{{.Max.X}},{{.Max.Y}}],
			{{end}}
		  ];


		  function save(e) {
		  	var index = $("#cropper").attr("data-index");
		  	$("div.preview[data-index='" + index + "']").removeClass("modified");
		  	var scaledSelection = selections[index];
		  	var aspect_ratio = aspect_ratios[index];
		  	$.post("/api/{{.ImageId}}/" + aspect_ratio[0] + "x" + aspect_ratio[1], {
		  		minX: parseInt(scaledSelection[0]),
		  		minY: parseInt(scaledSelection[1]),
		  		maxX: parseInt(scaledSelection[2]),
		  		maxY: parseInt(scaledSelection[3])
		  	});
		  	updatePreview(index);
		  }

		  function back(e) {
		  	$("#cropper").hide();
		 	$("#previews").show();
		  }

		  function updatePreview(index) {
		  	var aspect_ratio = aspect_ratios[index];
		  	var width = PREVIEW_HEIGHT * aspect_ratio[0] / aspect_ratio[1];

		  	var preview_div = $("div.preview[data-index='" + index + "']");


	  		var scaledSelection = scaleSelection(selections[index]);

	  		var crop_width = scaledSelection[2] - scaledSelection[0];
	  		var crop_height = scaledSelection[3] - scaledSelection[1];

	  		var rx = width / crop_width;
	  		var ry = PREVIEW_HEIGHT / crop_height;

	  		preview_div.find("img").css({
	  			width: Math.round(rx * 600) + "px",
	  			height: Math.round(ry * {{.ScaledSize.Y}}) + "px",
		        marginLeft: '-' + Math.round(rx * scaledSelection[0]) + 'px',
		        marginTop: '-' + Math.round(ry * scaledSelection[1]) + 'px'
	  		});
		  }

		  function updateSelection(c) {
		  	var index = $("#cropper").attr("data-index");

		  	// var newSelection = [
		  	// 	Math.floor(c.x/{{.ImageScale}}),
		  	// 	Math.floor(c.y/{{.ImageScale}}),
		  	// 	Math.floor(c.x2/{{.ImageScale}}),
		  	// 	Math.floor(c.y2/{{.ImageScale}})];
		  	selections[index] = [
		  		Math.floor(c.x/{{.ImageScale}}),
		  		Math.floor(c.y/{{.ImageScale}}),
		  		Math.floor(c.x2/{{.ImageScale}}),
		  		Math.floor(c.y2/{{.ImageScale}})
		  	];
		  	$("div.preview[data-index='" + index + "']").addClass("modified");
		  }

		  function scaleSelection(selection) {
		    return [selection[0] * {{.ImageScale}}, selection[1] * {{.ImageScale}}, selection[2] * {{.ImageScale}}, selection[3] * {{.ImageScale}}];
		  }

		  function descaleSelection(selection) {
		    return [selection[0] / {{.ImageScale}}, selection[1] / {{.ImageScale}}, selection[2] / {{.ImageScale}}, selection[3] / {{.ImageScale}}];
		  }

		  jQuery(function($){

		  	$(document).on('keyup', function(e){
		  		if(e.which == 13 && $("#cropper").is(":visible")) {
		  			save();
		  			back();
		  		}
		  	});


		  	var img_src = "{{ .PublicAddress }}/{{ .ImageId }}/original/600.jpg";
		  	for(var i=0;i<aspect_ratios.length;i++) {
		  		var aspect_ratio = aspect_ratios[i];

		  		var width = PREVIEW_HEIGHT * aspect_ratio[0] / aspect_ratio[1];
		  		var preview_div = $('<div class="preview"><div class="label">' + aspect_ratio[0] + "x" + aspect_ratio[1] + '</div><div class="container"><img src="' + img_src + '" /></div></div>');
		  		preview_div.find(".container").css({
		  			'width': width,
		  			'height': PREVIEW_HEIGHT
		  		});
		  		preview_div.attr("data-aspect-width", aspect_ratio[0]);
		  		preview_div.attr("data-aspect-height", aspect_ratio[1]);
		  		preview_div.attr("data-index", i);


		  		// var scaledSelection = scaleSelection(selections[i]);

		  		// var crop_width = scaledSelection[2] - scaledSelection[0];
		  		// var crop_height = scaledSelection[3] - scaledSelection[1];

		  		// var rx = width / crop_width;
		  		// var ry = PREVIEW_HEIGHT / crop_height;

		  		// preview_div.find("img").css({
		  		// 	width: Math.round(rx * 600) + "px",
		  		// 	height: Math.round(ry * {{.ScaledSize.Y}}) + "px",
			   //      marginLeft: '-' + Math.round(rx * scaledSelection[0]) + 'px',
			   //      marginTop: '-' + Math.round(ry * scaledSelection[1]) + 'px'
		  		// });

		  		preview_div.on('click', function() {
		  			$("#previews").hide();
		  			$("#cropper").show();
		  			var aspectWidth = parseInt($(this).attr("data-aspect-width"));
		  			var aspectHeight = parseInt($(this).attr("data-aspect-height"));
		  			jcrop_api.setOptions({aspectRatio: aspectWidth / aspectHeight});
		  			jcrop_api.focus();

		  			$("#cropper").attr("data-index", $(this).attr("data-index"));
		  			var ratioIndex = parseInt($(this).attr("data-index"));
		  			var selection = selections[ratioIndex];
		  			jcrop_api.setSelect(scaleSelection(selection));
		  		});

		  		$("#previews").append(preview_div);
		  		updatePreview(i);
		  	}

		  	var jcrop_api;
		    $('#target').Jcrop({
      			onSelect: updateSelection,
      			allowMove: true,
      			allowResize: true
		    }, function() {
		    	jcrop_api = this;
		    });
		  });
		</script>
		<style>
			.preview {
				float: left;
				display: block;
				z-index: 2000;
				position: relative;

				padding: 6px;
				margin: 10px;

  				border: 1px rgba(0,0,0,.4) solid;
  				background-color: white;

  				-webkit-border-radius: 6px;
				-moz-border-radius: 6px;
				border-radius: 6px;

				-webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
				-moz-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
				box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);

				cursor: pointer;
			}
			.modified {
				padding: 3px;
				border: 3px red solid;
			}
			.container {
				overflow: hidden;
				background-color: black;
			}
			.label {
				z-index: 1500;
				position: absolute;
				width:95%;
				margin-right: 6px;
				text-align:center;
				line-height: 175px;
				color: white;
				font-family: Arial, Helvetica;
				font-size: 2em;
				overflow: hidden;
			}
			.preview:hover .container img {
				opacity: 0.4;
			}
			#cropper {
				display: none;
			}
		</style>
		<link rel="stylesheet" href="css/jquery.Jcrop.min.css" type="text/css" />
	</head>
	<body>
		<div id="previews"></div>
		<div id="cropper">
			<div id="controls">
				<button class="back" onclick="back();return false;">Close</button>
				<button class="save" onclick="save();return false;">Save</button>
				<button class="save-and-back" onclick="save();back();return false;">Save &amp; Close</button>
			</div>
			<img id="target" src="{{ .PublicAddress }}/{{ .ImageId }}/original/600.jpg" />
		</div>
	</body>
</html>